*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 7px 100px;
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}


.logo{
	font-size: 25px;
	color: white;
	user-select: none;
	transform: translate(-40px)
}

.navigation .navig{
	position: relative;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	text-decoration: none;
	text-align: center;
}

.navigation .navig::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation .navig:hover::after{
	transform: scaleX(1);
}

.navigation .btnLogin-popup{
	padding: 10px 20px;
	background: transparent;
	border: 0px solid #fff;
	outline: none;
	border-radius: 6px ;
	cursor: pointer;
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	margin-left: 60px;
	margin-right: -60px;
	transition: .5s;
	text-decoration: none;
	display: inline-block;
}

.navigation .btnLogin-popup:hover{
	background: #fff;
	color: #000;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
	top: 0;
    padding: 20px;
    background: #b0b0b0;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: disc;
    padding-left: 13px;
	line-height: 27px;
}

